@import "../../../styles/base";

.root {
  position: "relative";
  padding: 100px 10px 10px 10px;
}

.buttonLogout {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tableSection {
  margin: 0 10px;
  text-align: center;
}

.tableHeader {
  text-align: center;
}
