ZPASS_ALEO_NETWORK_API_HOST=https://api.explorer.aleo.org/v1
ZPASS_CACHE_KEY=onchain_issuer_test_updated.aleo:issue
ZPASS_CHECK_QUEUES_INTERVAL_MS=2000
ZPASS_CREDENTIALS=
ZPASS_EXTENSION_ID=
ZPASS_MIDDLEWARE_API_HOST=http://18.234.167.97/api/v1
ZPASS_NETWORK_NAME='Aleo Testnet3'
ZPASS_PRIVATE_KEY=
ZPASS_SYNC_ACCOUNT_INTERVAL_MS=60000
