@import "../../../styles/base";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.mainWrapper {
  width: 300px;
}

.header {
  text-align: center;
}

.formInput {
  height: 40px;
}

.loginButton {
  border-radius: 6px;
}
