.mainWrapper {
  height: 95vh;
  text-align: center;
}

.optionsMessage {
  width: 60%;
  font-size: 2rem;
  margin: 0 auto auto auto;
  margin-top: 30px;
}

.contentMain {
  padding: 0 48px;
}

.contentDelete {
  padding: 0 24px;
  min-height: 280px;
}

.buttonDelete {
  align-self: center;
}

.footer {
  text-align: center;
}
