.mainWrapper {
  height: 95vh;
  text-align: center;
}

.optionsButton {
  height: 3rem;
  width: 10rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 40vh;
  font-size: 1rem;
}

.optionsMessage {
  width: 60%;
  font-size: 2rem;
  margin: 0 auto auto auto;
  margin-top: 30px;
}
